
{% extends "base.html" %}
{% load static %}


{% block page_content %}
<div class="col-md-8 offset-md-2"><h1>ABOUT </h1></div>

<div class="row p-3 ">
    <div class="col-sm-2 rounded-circle bg-light">
        {{ home.profilePicture }}
        {{ home.profilePicture.url }} fdsaf

        <img class="d-block w-100" src=" \{{ home.profilePicture }}" alt="profile picture">
<!--        <img src=" /home/static/home/d.jpg">-->
<!--        <img src=" /static/home/d.jpg">-->
    </div>
    <div class="col-sm offset-sm-2 bg-light p-3 rounded">
        {{ home.title }} {{ home.body | safe }}


        <!--       {# {% content.body| default: lorem %}#}-->
    </div>
</div>

<div class="row p-3 d-flex justify-content-center ">

    <div class="col-md-10 bg-light p-3 rounded">
       <h3> PROJECTS SLIDER</h3>
    </div>
</div>
<div class="row p-3 d-flex justify-content-center ">

    <div class="col-md-10 bg-light p-3 rounded">
       <h3> Contact</h3>
    </div>
</div>
{% endblock %}